.card-category {
  display: flex;
  flex-direction: column;
  background: linear-gradient(60deg,#080F24, #365AC0);
  border-radius: 12px;
  color: #FFFFFF;
  overflow: hidden;
  padding: 8px;
  cursor: pointer;
  width: 130px;
  height: 170px;
  transition: all 0.3s ease;
  flex: 0 0 auto; /* penting supaya scroll horizontal aktif */
  position: relative;
}

.card-category img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  transition: height 0.3s ease;
  border-radius: 12px;
  filter: brightness(70%);
}

.card-category img {
  width: 100%;
  height: 100px; /* tinggi normal */
  object-fit: cover;
  transition: height 0.3s ease; /* gambar naik saat hover */
  border-radius: 12px;
  filter: brightness(70%);
}

.card-category .card-info {
    width: 90%;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3px;
}
.card-info div h5{
    font-size: 18px;
}
.card-info p{
    font-size: 12px;
}

.card-category .card-info div{
    width: 100%;
}

/* Hover */
.card-category:hover img {
  height: 100%; /* gambar memanjang */
}

.card-abs{
  position: absolute;
  margin-top: 100px;
}


@media (min-width: 600px) {}

@media (min-width: 992px) {}